# Default ignored files
/shelf/
/workspace.xml
# ignore all .log files
.log

# ignore all .tmp files
*.tmp

# ignore the node_modules directory
node_modules/

# ignore the dist directory
dist/

.crt

.key

kubespray